{% extends "index_home/base.html" %}
{% block content %}
<div class="container-fluid">
    <form class="" method="get" action="{% url 'add' %}">
      <div class="input-group mb-3">
        <input placeholder="Search.."aria-label="Search..." aria-describedby="button-addon2" class="form-control form-control-rounded form-control-prepended" id="txt_values" name="key" placeholder="Search..." type="text">
        <div class="input-group-append">
          <button class="btn btn-outline-primary" type="submit" id="button-addon2"><span class="fa fa-search"></span></button>
        </div>
      </div>
    </form>
</div>
<input type="text" id="myInput" class="form-control" onkeyup="myFunction()" placeholder="Search ingredients here...">

<div class="card bg-gradient-Gray 200 shadow">
    <div class="card p-2">
        <table id="myTable">
          <form method="post">
                {% csrf_token %}
                {% for ingre in ingredients %}
              <tr>
                  <td>
                      <div class="custom-control custom-checkbox">
                          <input type="checkbox" id="{{ ingre.name }}" value="{{ ingre.name }}" name="{{ ingre.name }}" class="cb_box custom-control-input">
                          <label class="custom-control-label" for="{{ ingre.name }}">{{ ingre.name }}</label>
                        </div>
                  </td>
              </tr>
                {% endfor %}
            </form>
        </table>
    </div>
</div>
{% endblock content %}