{% extends "index_home/base.html" %}
{% block content %}
<div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">The Development of</h5>
                <span class="h2 font-weight-bold mb-0">COOKTUREE</span>
            </div>
          </div>
          <p class="mt-3 mb-0 text-muted text-sm">
            <span class="text-nowrap">Android Application for Cooking</span>
          </p>
        </div>
      </div>
    </div>
</div>
{% endblock content%}