{% extends "index_home/base.html" %}
{% block content %}
<div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
                <br>
                <img src="{{ recipes.first.author.profile.propic.url }}" class="rounded-circle">
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between">
<!--            <a href="#" class="btn btn-sm btn-info mr-4">Connect</a>-->
<!--            <a href="#" class="btn btn-sm btn-default float-right">Message</a>-->
          </div>
        </div>
        <div class="card-body pt-0 pt-md-4">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                <div>
<!--                  <span class="heading">0</span>-->
<!--                  <span class="description">Recipes</span>-->
<!--                </div>-->
<!--                <div>-->
<!--                  <span class="heading">0</span>-->
<!--                  <span class="description">Hearted</span>-->
<!--                </div>-->
<!--                <div>-->
<!--                  <span class="heading">0</span>-->
<!--                  <span class="description">Scheduled</span>-->
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <h3>
              {{ recipes.first.author }}<!--<span class="font-weight-light">, 27</span>-->
            </h3>
            <div class="h5 font-weight-300">
              <i class="ni location_pin mr-2"></i><!-- Bucharest, Romania -->
            </div>
<!--            <div class="h5 mt-4">-->
<!--              <i class="ni business_briefcase-24 mr-2"></i>Solution Manager - Creative Tim Officer-->
<!--            </div>-->
<!--            <div>-->
<!--              <i class="ni education_hat mr-2"></i>University of Computer Science-->
<!--            </div>-->
            <hr class="my-4" />
<!--            <p>Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music.</p>-->
<!--            <a href="#">Show more</a>-->
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">{{ recipes.first.author }} portfolio</h3>
                </div>
<!--                <div class="col-4 text-right">-->
<!--                  <button type="submit" class="btn btn-sm btn-primary">Update</button>-->
<!--                </div>-->
              </div>
            </div>
            <div class="card-body">
          <form>
            <h6 class="heading-small text-muted mb-4">User information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Username</label>
                      <p id="input-username" class="form-control form-control-alternative">{{ recipes.first.author }}</p>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Email address</label>
                      <p id="input-email" class="form-control form-control-alternative">{{ recipes.first.author.email }}</p>
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">Created Recipes</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                      {% for recipe in recipes %}
                      <div class="card">
<!--                          <img class="card-img-top" src="{{ recipe.photo.url }}">-->
                          <div class="card-body">
                            <a href="{% url 'recipe-detail' recipe.id %}"><h5>{{ recipe.name }}</h5></a>
                            <small class="card-text">{{ recipe.description|truncatechars:65  }}</small>
                            <h6><a href="{% url 'user-recipe' recipe.author.username %}">by {{ recipe.author }}</a> | {{ recipe.date_added | date:"M, Y" }}</h6>
                          </div>
                      </div>
                      {% endfor %}
<!--                    <label class="form-control-label" for="input-address">Address</label>-->
<!--                    <input id="input-address" class="form-control form-control-alternative" placeholder="Home Address" value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09" type="text">-->
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Description -->
<!--            <h6 class="heading-small text-muted mb-4">About me</h6>-->
<!--            <div class="pl-lg-4">-->
<!--              <div class="form-group">-->
<!--                <label>About Me</label>-->
<!--                <textarea rows="4" class="form-control form-control-alternative" placeholder="A few words about you ...">A beautiful Dashboard for Bootstrap 4. It is Free and Open Source.</textarea>-->
<!--              </div>-->
<!--            </div>-->
          </form>
        </div>
      </div>
    </div>
</div>
{% endblock content%}
