{% extends "index_home/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="htc__login__register bg__white ptb--130" style="background: rgba(0, 0, 0, 0) url({{ MEDIA_URL }}/static/index_home/images/bg/5.jpg) no-repeat scroll center center / cover ;">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <ul class="login__register__menu" role="tablist">
                            <li role="presentation" class="login active"><a href="#login" role="tab" data-toggle="tab">Reset Password</a></li>
<!--                            <li role="presentation" class="register"><a href="#register" role="tab" data-toggle="tab">Register</a></li>-->
                        </ul>
                    </div>
                </div>
                <!-- Start Login Register Content -->
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="htc__login__register__wrap">
                            <!-- Start Single Content -->
                            <div id="login" role="tabpanel" class="single__tabs__panel tab-pane fade in active">
                                <form class="login" method="post">
                                    {% csrf_token %}
                                    {% for field in form %}
                                        <div class="fieldWrapper">
                                            <i style="color:red">{{ field.errors }}</i>
                                            {{ field.label_tag }} {{ field }}
                                            <small><i>{{ field.help_text }}</i></small>
                                        </div>
                                    {% endfor %}
                                    <br><br>
                                    <center>
                                        <button class="btn btn-outline-info" type="submit">Request Password Reset</button>
                                    </center>
                                </form>
                            </div>
                            <!-- End Single Content -->
                        </div>
                    </div>
                </div>
                <!-- End Login Register Content -->
            </div>
        </div>
{% endblock content %}
